/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.core {
    transition: fill 0.3s 0.03s linear;
  }
  
  .main-body {
    transition: fill 0.3s linear;
  }
  
  .like-icon:hover .core {
    transition: fill 0.3s linear;
    fill: var(--heart-color-contour);
  }
  
  .like-icon:hover .main-body {
    transition: fill 0.3s 0.05s linear;
    fill: var(--heart-color-contour);
  }
  
  .like-icon:active .core {
    transition: fill 0.3s 0.03s linear;
    fill: var(--heart-color-body);
  }
  
  .like-icon:active .main-body {
    transition: fill 0.3s 0.05s linear;
    fill: var(--heart-color-body);
  }
  
  .like-icon.is-liked .core {
    transition: fill 0.3s linear;
    fill: var(--heart-color-body);
  }
  
  .like-icon.is-liked .main-body {
    transition: fill 0.3s 0.05s linear;
    fill: var(--heart-color-body);
  }
  
  .like-icon .contour {
    transition: fill 0.1s linear;
  }
  
  .like-icon.is-liked .contour {
    transition: fill 0.3s 0.06s linear;
    fill: var(--heart-color-body);
  }
  
  .is-liked .heart {
    animation: pulse 0.3s 0.1s ease-in alternate;
  }
  
  .sparks {
    opacity: 0;
  }
  
  .is-liked .sparks {
    animation: spark 0.3s 0.3s ease-in alternate;
  }

  @keyframes pointer {

    0% {
      translate: -8px;
    }
  
    100% {
      translate: -4px;
    }
  }
  
  @keyframes move {
  
    from {
      translate: -100% 0%;
    }
  
    to {
      translate: 0% 0%;
    }
  }
  
  @keyframes pulse {
  
    0% {
      transform: scale(1);
      transform-origin: center;
    }
  
    100% {
      transform: scale(1.5);
      transform-origin: center;
    }
  }
  
   @keyframes spark {
    
    0% {
      opacity: 0;
    }
   
    100% {
      opacity: 1;
    }
  }